.App {
  margin: auto;
  width: 960px;
}

#main-header {
  border-bottom: 1px solid black;
  font-size: 3em;
  text-align: center;
}

#main-footer {
  border-top: 1px solid black;
  text-align: center;
}
