@import "~bootstrap/scss/bootstrap";

.App {
  margin: auto;
  width: 960px;
}

#main-header {
  border-bottom: 1px solid black;
  font-size: 3em;
  text-align: center;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}

#main-footer {
  border-top: 1px solid black;
  text-align: center;
}
